.contorno {
    width: 60em;
    margin: 4em auto;
    padding: 20px;
    background-color: #84B2D8;
    border-radius: 15px;
    text-align: center;
    height: 30em;
    margin-top: 14em;
}

.contorno h1 {
    font-size:35px;
    margin-top: 20px;
}

.contorno form {
    margin-top: 20px;
}

.contorno label {
    display: block;
    margin-bottom: 10px;
}

.contorno select, .contorno input[type="submit"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contorno input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contorno input[type="submit"]:hover {
    background-color: #0056b3;
}


.checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .checkbox-container input {
    display: none;
  }
  
  .checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #3498db; /* Color del borde */
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
  }
  
  .checkmark:after {
    content: "";
    display: none;
    width: 5px;
    height: 10px;
    border: solid #fff; /* Color del tick */
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  .checkbox-container input:checked + .checkmark:after {
    display: block;
  }
  
  /* Estilos para el texto del checkbox */
  .checkbox-label {
    color: #fffcfc; /* Color del texto */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Fuente del texto */
  }
  
  