/*Interfaz menu*/
body {
    padding: 0;
    margin: 0;
    background-image: url("/img/fondoLogin.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100dvh;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    width: 100dvw;
    min-height: 100dvh;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}

.content {
    width: 600px;
    height: 600px;
}

.content .logoAteca{
    position: relative;
    width: 90%;
}
.content:first-child {
    display: flex;
}

.content:last-child {
    background-color: rgba(255, 255, 255, 0.725);
    border-radius: 12px;
    box-shadow: 3px 3px 20px  rgba(0, 0, 0, 0.428);
}

.wrapper-form{
    height: fit-content;
    padding: 0 50px;
}
.wrapper-form h3{
    font-size: 48px;
    font-style: italic;
    text-align: center;
}

.wrapper-input {
    margin: 40px 0px 7px 0px;
}

label {
    color: rgb(24, 24, 24);
    text-decoration: underline;
    font-weight: 600;
}
input {
    width: 90%;
    height: 50%;
    box-shadow: 4px 4px 12px rgba(41, 41, 41, 0.247);
    border: none;
    border-radius: 70px;
    outline: 2px rgb(192, 192, 192) solid;
    height: 40px;
}

input::placeholder{
    color: rgb(27, 27, 27);
    padding-left: 10px;
}
input[type="submit"]{
    margin-top: 80px;
    width: 100px;
    font-weight: 600;
}

input[type="submit"]:hover{
    margin-top: 80px;
    width: 100px;
    font-weight: 600;
    background-color: black;
    color: white;
}