/*Interfaz menu*/
body {
    padding: 0;
    margin: 0;
    background-image: url("/img/fondoLogin.png");
    background-repeat: no-repeat;
    background-size: cover;
<<<<<<< HEAD:public/css/index.css
    min-height: 100dvh;
    font-family: "Poppins", sans-serif;
=======
>>>>>>> b35ade7570f7be639f2c43e6f2456b75a1fcbcb3:public/css/login.css
}

.container {
    display: flex;
    width: 100dvw;
    min-height: 100dvh;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}

.content {
    width: 600px;
    height: 600px;
}

.content .logoAteca{
    position: relative;
<<<<<<< HEAD:public/css/index.css
    width: 90%;
}
.content:first-child {
    display: flex;
=======
    margin-top: -30em;

>>>>>>> b35ade7570f7be639f2c43e6f2456b75a1fcbcb3:public/css/login.css
}

.content:last-child {
    background-color: rgba(255, 255, 255, 0.725);
    border-radius: 12px;
    box-shadow: 3px 3px 20px  rgba(0, 0, 0, 0.428);
}

.wrapper-form{
    height: fit-content;
    padding: 0 50px;
}
.wrapper-form h3{
    font-size: 48px;
    font-style: italic;
    text-align: center;
}

.wrapper-input {
    margin: 40px 0px 7px 0px;
}

<<<<<<< HEAD:public/css/index.css
label {
    color: rgb(24, 24, 24);
    text-decoration: underline;
    font-weight: 600;
=======
.boton {

    text-align: center;
    border-radius: 1.5em;
    background-color: #335684;
    width: 8em;
    height: 2em;
    color: aliceblue;
    margin-top: 11em;

>>>>>>> b35ade7570f7be639f2c43e6f2456b75a1fcbcb3:public/css/login.css
}
input {
    width: 90%;
    height: 50%;
    box-shadow: 4px 4px 12px rgba(41, 41, 41, 0.247);
    border: none;
    border-radius: 70px;
    outline: 2px rgb(192, 192, 192) solid;
    height: 40px;
}

input::placeholder{
    color: rgb(27, 27, 27);
    padding-left: 10px;
}
input[type="submit"]{
    margin-top: 80px;
    width: 100px;
    font-weight: 600;
}

input[type="submit"]:hover{
    margin-top: 80px;
    width: 100px;
    font-weight: 600;
    background-color: black;
    color: white;
<<<<<<< HEAD:public/css/index.css
}
=======
    margin-left: 15em;
    margin-top: 30em;


}

h2 {

    font-size: 4em;

}

.tp {

    font-size: 2em;
    font-family: monospace;

}

::placeholder {
    color: rgb(194, 190, 190);
    text-align: center;
    padding-top: 30px;
    font-size: 0.8em;

}

.logo {

    width: 8em;
    height: 8em;
    margin-left: 100em;
    margin-top: 6em;
}

.link {

    color: #4BA4ED;
    margin-left: 6em;
    margin-top: -2em;
    background-color: aliceblue;
    width: 7em;

}

.google-login {

    border: 2px solid black;
    width: 19em;
    height: 4em;
    margin-left: 8em;
    border-radius: 2em;
    margin-top: -12em;

}


.google-icon {

    margin-left: 2em;
    vertical-align: middle;
    width: 2em;
    margin-top: 1em;
}

.textoGoogle {
    margin-left: 6em;
    margin-top: -1.7em;

}

>>>>>>> b35ade7570f7be639f2c43e6f2456b75a1fcbcb3:public/css/login.css
