
.cont
{
margin-top: 2%;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("/img/fondoLogin.png");
    background-repeat: no-repeat;
    background-size: cover; /* Usa cover para cubrir toda la pantalla con la imagen */
    background-position: center; /* Centra la imagen */
    min-height: 95.5vh; /* Establece la altura mínima de la ventana del navegador */
    position: relative; /* Establece una posición relativa para los elementos hijos */
}

/* Contenedor blanco */
.CuadradoBlanco {
    background-color: white;
    max-width: 30em; /* Ancho máximo del contenedor */
    margin: 10vh auto; /* Margen superior e inferior ajustado y centrado horizontalmente */
    padding: 2em;
    border-radius: 2em;
    text-align: center;
}

/* Título */
.titulo {
    color: white;
    margin-bottom: 2em;
    text-align: center;
    font-size: 2.5em;
    font-family:monospace;
}

.titulo h2 {
    font-size: 3em; /* Tamaño de fuente original */
    margin-bottom: 0.5em;
}



/* Botón de iniciar sesión con Google */
.google-login {
    border: 2px solid black;
    max-width: 19em; /* Ancho máximo para evitar que el botón se vuelva demasiado ancho */
    margin: 3em auto; /* Margen superior e inferior ajustado y centrado horizontalmente */
    padding: 1em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.google-icon {
    width: 2em;
    margin-right: 0.5em;
}

/* Footer */
.footer {
    position: fixed; /* Fija el footer en la parte inferior de la ventana del navegador */
    bottom: 0; /* Alinea el footer en la parte inferior */
    right: 0; /* Alinea el footer a la derecha */
    width: auto; /* Ancho automático según el contenido */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    padding: 20px; /* Espacio interno del footer */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho y la altura */
    text-align: center; /* Alinea el contenido al centro */
}

.sesion
{

    font-family:monospace; 
}

/* Logo del footer */
.logo {
    width: 8em;
    float: right; /* Alinea el logo a la derecha */
    margin-right: 5%;
    margin-top: 13%;
}




@media screen and (max-width: 767px) {
    .logo{
        width: 6em;
        margin-top: 20%;
    }
}

@media screen and (max-width: 576px) {
    .logo{
        width: 4em;
        margin-top: 25%;
    }
}